  <footer class="x-colophon" role="contentinfo">
    <div class="x-bar x-bar-footer x-bar-h x-bar-relative e7800-e1 m60o-0" data-x-bar="{&quot;id&quot;:&quot;e7800-e1&quot;,&quot;region&quot;:&quot;footer&quot;,&quot;height&quot;:&quot;auto&quot;}"><div class="e7800-e1 x-bar-content x-container max width"><div class="x-bar-container e7800-e2 m60o-1"><footer class="x-colophon bottom" role="contentinfo">
      <div class="x-container max width">
        <div class="x-social-global"><a href="https://t.me/mihchis" class="telegram" title="Telegram: @mihchis" target="_blank" rel=""><i class="fa-brands fa-telegram" data-x-icon-b='&#xf2c6;' aria-hidden=true></i></a>
					<a href="mailto:trin79136@gmail.com" class="email" title="Email: trin79136@gmail.com" target="_blank" rel=""><i class="fa-solid fa-envelope" data-x-icon-s='&#xf0e0;' aria-hidden=true></i></a></div>
        <div class="x-colophon-content">
          <p class="mtn ro-footer-text">Website phi lợi nhuận phục vụ cộng đồng độc giả truyện tranh Việt Nam. Toàn bộ bản quyền hình ảnh và nhân vật thuộc về Marvel Comics, DC Comics và các tác giả tương ứng.</p>
        </div>
      </div>
    </footer></div></div></div>
  </footer>
