      <div class="x-searchform-overlay">
        <div class="x-searchform-overlay-inner">
          <div class="x-container max width">
            <form method="get" id="searchform" class="form-search center-text" action="/">
              <label for="s" class="cfc-h-tx tt-upper">Nhập từ khóa và nhấn &ldquo;Enter&rdquo; để tìm kiếm</label>
              <input type="text" id="s" class="search-query cfc-h-tx center-text tt-upper" name="s" placeholder="Tìm kiếm tựa truyện, nhân vật, sự kiện...">
            </form>
          </div>
        </div>
      </div>

    </div> <!-- END .x-site -->

    <div id="x-widgetbar" class="x-widgetbar x-collapsed" data-x-toggleable="x-widgetbar" data-x-toggle-collapse="1" aria-hidden="true" aria-labelledby="x-btn-widgetbar">
      <div class="x-widgetbar-inner">
        <div class="x-container max width">
          <div class="x-column x-md x-1-1 last"></div>
        </div>
      </div>
    </div>

    <a href="#" id="x-btn-widgetbar" class="x-btn-widgetbar collapsed" data-x-toggle="collapse-b" data-x-toggleable="x-widgetbar" aria-expanded="false" aria-controls="x-widgetbar" role="button">
      <i class='x-framework-icon x-icon-plus-circle' data-x-icon-s='&#xf055;' aria-hidden=true><span class="visually-hidden">Đóng/Mở tiện ích</span></i>
    </a>

    <span class="x-scroll-top right fade" title="Lên đầu trang" data-rvt-scroll-top>
      <i class='x-framework-icon x-icon-angle-up' data-x-icon-s='&#xf106;' aria-hidden=true></i>
    </span>

  </div> <!-- END .x-root -->
