<div class="x-section ro-shared-legend mbm" style="margin: 0px 0px 1.5em 0px; padding: 0px; background-color: transparent;">
  <div class="x-row x-container max width">
    <div class="x-row-inner">
      <div class="x-col"><div class="x-text x-content"><p style="text-align: center; margin: 0; font-size: 14px;"><strong>Bộ truyện dài kỳ</strong></p></div></div>
      <div class="x-col"><div class="x-text x-content"><p style="text-align: center; margin: 0; font-size: 14px;"><span style="color: #008000;"><strong>Bộ truyện ngắn kỳ</strong></span></p></div></div>
      <div class="x-col"><div class="x-text x-content"><p style="text-align: center; margin: 0; font-size: 14px;"><span style="color: #ff0000;"><strong>Tập đơn (One-Shot)</strong></span></p></div></div>
      <div class="x-col"><div class="x-text x-content"><p style="text-align: center; margin: 0; font-size: 14px;"><span style="color: #0066aa;"><strong>Ghi chú đọc</strong></span></p></div></div>
    </div>
  </div>
</div>
